<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="default.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="application/less" />
        </staticContent>
    </system.webServer>
</configuration>
