body{
    background: plum;
}
div{
    width: 500px;
    height: 500px;
    background:url('http://t8.baidu.com/it/u=3571592872,3353494284&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1578386661&t=e6f464bd7fed5c290295dde529d3af68') no-repeat center 
}